<div class="ui basic segment">
	<div class="ui breadcrumb">
	  <a class="section">Admin</a>
	</div>
  <h3 class="ui header"><i class="home icon"></i> Dashboard</h3>
  	<div class="ui grid">
  		<div class="eight wide column">
	  		<div class="ui green center aligned  segment">
	  			<div class="ui green statistic">
				  <div class="value">
				    {{ total.mapping }}
				  </div>
				  <div class="label">
				    Video Mapping
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="eight wide column">
	  		<div class="ui teal center aligned  segment">
	  			<div class="ui teal statistic">
				  <div class="value">
				    {{ total.guest }}
				  </div>
				  <div class="label">
				    Guest Book
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="five wide column">
	  		<div class="ui blue center aligned  segment">
	  			<div class="ui blue statistic">
				  <div class="value">
				    {{ total.category }}
				  </div>
				  <div class="label">
				    Travelling Category
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="six wide column">
	  		<div class="ui violet center aligned  segment">
	  			<div class="ui violet statistic">
				  <div class="value">
				    {{ total.special }}
				  </div>
				  <div class="label">
				    Special Interest
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="five wide column">
	  		<div class="ui purple center aligned  segment">
	  			<div class="ui purple statistic">
				  <div class="value">
				    {{ total.seasonality }}
				  </div>
				  <div class="label">
				    Seasonality
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="four wide column">
	  		<div class="ui pink center aligned  segment">
	  			<div class="ui pink statistic">
				  <div class="value">
				    {{ total.budget }}
				  </div>
				  <div class="label">
				    Budget Wise
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="four wide column">
	  		<div class="ui brown center aligned  segment">
	  			<div class="ui brown statistic">
				  <div class="value">
				    {{ total.parties }}
				  </div>
				  <div class="label">
				    Number of Parties
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="four wide column">
	  		<div class="ui red center aligned  segment">
	  			<div class="ui red statistic">
				  <div class="value">
				    {{ total.food }}
				  </div>
				  <div class="label">
				    Food Interest
				  </div>
				</div>
	  		</div>
	  	</div>
  		<div class="four wide column">
	  		<div class="ui orange center aligned  segment">
	  			<div class="ui orange statistic">
				  <div class="value">
				    {{ total.video }}
				  </div>
				  <div class="label">
				    Videos
				  </div>
				</div>
	  		</div>
  		</div>
	</div>
</div>