<h1 class="ui item inverted header">Mix.co</h1>
<a class="item" ui-sref="admin">
  <i class="home icon"></i>
  Home
</a>
<a class="item" ui-sref="mapping">
  <i class="map icon"></i>
  Mapping
</a>
<a class="item" ui-sref="guest">
  <i class="book icon"></i>
  Guest Book
</a>
<a class="item" ui-sref="category">
  <i class="grid layout icon"></i>
  Travelling Category
</a>
<a class="item" ui-sref="special">
  <i class="heart icon"></i>
  Special Interest
</a>
<a class="item" ui-sref="seasonality">
  <i class="calendar icon"></i>
  Seasonality
</a>
<a class="item" ui-sref="budget">
  <i class="money icon"></i>
  Budget/Wise
</a>
<a class="item" ui-sref="parties">
  <i class="users icon"></i>
  Number of Parties
</a>
<a class="item" ui-sref="food">
  <i class="food icon"></i>
  Food Interest
</a>
<a class="item" ui-sref="video">
  <i class="file video outline icon"></i>
  Video
</a>
<div class="ui inverted segment">
  <button class="ui inverted red fluid button" ng-click="logout()">
    <i class="unlock icon"></i> Logout
  </button>
</div>
<!-- <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
</div>
 --><!-- <a class="item" ng-click="logout()">
  <i class="unlock icon"></i>
  Logout
</a> -->